__history/
__recovery/
Android/
iOSDevice32/
iOSDevice64/
iOSSimulator/
Win32/
Win64/
OSX32/

*.dcu
*.deployproj
*.dproj.local
*.dsk
*.dres
*.identcache
*.tvsconfig
*.otares
*.stat

*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

*.cfg
*.hpp
*Resource.rc

*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
